.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-family: "Segoe UI Semibold";
}
.combo-box-popup .list-view{
    -fx-background-color: #070417;
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: #ffffff;
    -fx-padding: 4 0 4 5;
    -fx-background-color: #30475E;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: #383E56;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #495464;
    -fx-text-fill: white;
}

.combo-box-base{
    -fx-background-color: #222831;
    -fx-padding: 0;
    -fx-text-alignment: center;
    -fx-font-family: "Segoe UI Semibold";

}