#football_button{
    -fx-background-color:  #222831;
}

#football_button:hover{
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
  /*  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; !* 4 8 4 8 *!
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;*/
    -fx-border-color: #ffffff;
    -fx-background-color: #070417;


}
#cricket_button{
    -fx-background-color:  #222831;
}
#cricket_button:hover{
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
      -fx-background-radius: 3px, 3px, 2px, 1px;
      -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; !* 4 8 4 8 *!
      -fx-text-fill: -fx-text-base-color;
      -fx-alignment: CENTER;
      -fx-content-display: LEFT;*/
    -fx-border-color: #ffffff;

}
#hockeyButton{
    -fx-background-color:  #222831;
}
#hockeyButton:hover{
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
      -fx-background-radius: 3px, 3px, 2px, 1px;
      -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; !* 4 8 4 8 *!
      -fx-text-fill: -fx-text-base-color;
      -fx-alignment: CENTER;
      -fx-content-display: LEFT;*/
    -fx-border-color: #ffffff;

}
#badmintonButton{
    -fx-background-color:  #222831;
}
#badmintonButton:hover{
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
      -fx-background-radius: 3px, 3px, 2px, 1px;
      -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; !* 4 8 4 8 *!
      -fx-text-fill: -fx-text-base-color;
      -fx-alignment: CENTER;
      -fx-content-display: LEFT;*/
    -fx-border-color: #ffffff;

}
#basketballButton{
    -fx-background-color:  #222831;
}
#basketballButton:hover{
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
      -fx-background-radius: 3px, 3px, 2px, 1px;
      -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; !* 4 8 4 8 *!
      -fx-text-fill: -fx-text-base-color;
      -fx-alignment: CENTER;
      -fx-content-display: LEFT;*/
    -fx-border-color: #ffffff;

}
#volleyballButton{
    -fx-background-color:  #222831;
}
#volleyballButton:hover{
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
      -fx-background-radius: 3px, 3px, 2px, 1px;
      -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; !* 4 8 4 8 *!
      -fx-text-fill: -fx-text-base-color;
      -fx-alignment: CENTER;
      -fx-content-display: LEFT;*/
    -fx-border-color: #ffffff;

}